<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%=link_to "proposal/#{proposal.id}" do %>
		<div class="proposal-card">

			<div class="proposal-card-header">
				<%= cl_image_tag proposal.user.image, class: "proposal-card-avatar" %>
				<div class="proposal-card-username"><strong><%= proposal.user.name.upcase %></strong> (designer)</div>
				<div class="proposal-card-rating">Designer rating : <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
			</div>

			<div class="project-card-main">

					<div class="proposal-card-image">
						<%= cl_image_tag proposal.image , class: "proposal-card-image" %>
					</div>

				<div class="proposal-card-right">

					<div class="proposal-card-description">
						<p><%= proposal.description.truncate(80) %></p>
					</div>
					<div class="proposal-card-footer">
						<div class="proposal-card-footer-details">
							<h4>Timing</h4>
							<p><%= proposal.duration %></p>
						</div>

						<div class="proposal-card-footer-details">
							<h4>Offered price</h4>
							<p>R$ <%= proposal.price %></p>
						</div>

						<div class="proposal-card-footer-details">
							<h4>Add to favorites</h4>
							<p><i class="fas fa-heart"></i></p>
						</div>
					</div>

			</div>
	</div>
</div>
  <%= link_to "", project_proposal_path(proposal), class: "project-card-link" %>
</div>
<% end %>
</div>
