<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="proposal-card">

			<div class="proposal-card-header">
				<%= cl_image_tag proposal.user.image, class: "proposal-card-avatar" %>
				<div class="proposal-card-username"><strong><%= proposal.user.name.upcase %></strong> (designer)</div>
				<div class="proposal-card-rating">Proposal: <%= proposal.orderid %></div>
			</div>

			<div class="project-card-main">

        <div class="col-xs-12">
          <!--           <h2 class="header">Horizontal Card</h2> -->
          <div class="altcard horizontal" id="transparent">
            <div class="altcard-image" id="proposal-card-image">
              <%= cl_image_tag proposal.image , class: "proposal-card-image" %>
            </div>
            <div class="altcard-stacked">
              <div class="altcard-content">
                <p><%= proposal.description.truncate(120) %></p>
              </div>
              <div class="altcard-action">
                <span>Duration: <strong><%= proposal.duration %></strong></span>
              </div>
              <div class="altcard-action">
                <span>Price: $ <strong><%= proposal.price%></strong></span>
              </div>
              <div class="altcard-action">
                <span>Status: <strong><%= proposal.status %></strong></span>
              </div>
              <%= link_to "", proposal_path(proposal), class: "project-card-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

