<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>HOW IT WORKS</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
      <i class="fas fa-home fa-2x"></i>
    </div>
    <h4>Publish</h4>
    <p>Do you want to renovate your room? Publish your project and receive proposals from the best professionals. </p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
      <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
    <h4>Receive proposals</h4>
    <p>Analyze and choose the best proposals according to what you need.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
      <i class="fas fa-gavel fa-2x"></i>
    </div>
    <h4>Start your refurbishment</h4>
    <p>Begin your refurbishment with all ArchPlace support!</p>
  </div>
</div>

<div class="call-to-action">
  <div class="title">
    <span class="content-section"><h2>Your refurbishment is a few clicks away</h2></span>
  </div>
  <div class="buttons">
    <%= link_to "I want a makeover!", new_project_path, class: "btn btn-orange", style: "margin: 10px;" %>
     <%= link_to "I'm a professional", projects_path, class: "btn btn-white" %>
  </div>
</div>

<!-- <div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>SEE FOR YOURSELF</h2>
  </div>

  <div class="step1 col-xs-12">
    <div id="img-build-home" class="row">
      <p>Take a look and get inspired with some of the work of our professionals.</p>
      <br>
    </div>
  </div>
</div> -->

  <div id="instruction-home" class="row">
    <h2>Find some inspiration discovering other projects</h2>
  </div>

  <div class="carousel-home">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @cards.each_with_index do |card,index| %>
        <div class="item <%= 'active' if index == 0%>" data-slide-number="<%= index %>">
          <%= image_tag card[:image] %>
          <h2 id="effect">
            <%= card[:title] %>
          </h2>
        </div>
      <% end%>
   </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  </div>

</div>
