

<div class="container" >

  <div class="col-sm-3 col-lg-2">
    <div id="project-show-left-bar">
      <h6> Room type: </h6>
      <p><%= @project.room %></p>
      <h6 light-title>Location:</h6>
      <p><%= @project.location %></p>
      <h6 light-title>Budget:</h6>
      <p><%= @project.budget %></p>
      <h6 light-title>Duration:</h6>
      <p><%= @project.deadline %></p>
    </div>
  </div>

  <div class="col-sm-9 col-lg-10" id="project-show-container">
    <div class="flex.row" id="project-show-buttons">

    <%= link_to 'Back to all projects', projects_path, class: "btn btn-blue", id: "btn-tiny"%>
    <%= link_to 'Edit my project', edit_project_path, class: "btn btn-edit", id: "btn-tiny"%>
    <%= link_to 'Delete project', project_path(@project), class: "btn btn-red", id: "btn-tiny" , method: :delete, data: { confirm: 'Are you sure?', } %>
  </div>
    <div class="container">
    <h3><%= @project.title %></h3>
    <p><%= @project.description %></p>
      <p><%= @project.image %></p>
    <div class="project-thumbnails">
        <img src="https://st.hzcdn.com/simgs/d002c19b05e08742_8-8059/home-design.jpg" style="height:80px;">

        <img src="https://st.hzcdn.com/simgs/d002c19b05e08742_8-8059/home-design.jpg" style="height:80px;">

        <img src="https://st.hzcdn.com/simgs/d002c19b05e08742_8-8059/home-design.jpg" style="height:80px;">

      </div>

    <%= link_to 'Submit a design proposal', new_project_proposal_path(@project),class: "btn btn-orange btn-project-index"%>
  </div>
</div>

</div>
