<p><%= @project.title %></p>
<p><%= @project.location %></p>
<p><%= @project.description %></p>
<p><%= @project.image %></p>
<p><%= @project.room %></p>
<p><%= @project.budget %></p>
<p><%= @project.deadline %></p>
