<div class="container" id="body-min-height">
  <div class= "row center-column proposal-show-note">
    <h3 class="light-title">Reviewing proposal for: <%= @proposal.project.title %></h3>
</div>
  <div class="col-sm-2">
    <div id="project-show-left-bar" class="center-column">
      <h6> Proposal number: </h6>
      <p id="proposal-number">#<%= @proposal.orderid %></p>
      <h6 light-title>Date submitted:</h6>
      <p><%= @proposal.created_at.localtime.strftime('%b %e, %l:%M %p') %></p>
      <% if user_signed_in? %>
        <% if current_user.role == "Owner" && @proposal.project.user == current_user %>
        <%= link_to 'Accept', change_project_status_path(@proposal.project), method: :patch, class: 'btn btn-green proposal-btn', id: "Acceptbutton" %>
        <br>
        <%= link_to 'Reject', proposal_path, method: :delete, data: {confirm: "are you sure?"}, class: 'btn btn-red proposal-btn' %>
        <% end %>
      <% end %>
      <br>
      <%= link_to 'Back', project_path(@proposal.project), class: 'btn btn-blue proposal-btn' %>
    </div>
  </div>
  <div class="col-sm-10" id="project-show-container">
    <table class="proposal-data">
      <tr>
        <td>
          <h4 light-title>Budget:</h4>
          <p style="color: green;">$ <%= @proposal.price %></p>
        </td>
        <td>
          <h4 light-title>Duration:</h4>
          <p><%= @proposal.duration %></p>
        </td>
        <td>
          <h4 light-title>Submitted by:</h4>
          <p><%= @proposal.user.name %></p>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-10" id="project-show-container">
    <h3 light-title>Proposal images: </h3>
    <p><%= cl_image_tag @proposal.image, class: "gallery-item img" %></p>
    <h3 light-title>Detailed description: </h3>
    <p><%= @proposal.description %></p>
    <p><%= @proposal.description %></p>
  </div>
</div>

<!-- swol script pai -->
<script>
  const userphone =  "<%= @proposal.user.phone %>"
  const username =  "<%= @proposal.user.name %>"
  const project = "<%= @proposal.project_id %>"
  document.getElementById('Acceptbutton').addEventListener('click', () => {
    swal({
      title: "One step closer to your refurbishment",
      text: `Get in contact and talk about the details!!\nThis is ${username}'s phone number:\n${userphone}`,
      icon: "success",
    })
    .then((value) => {
  window.location = `/projects/${project}`;
});
  });</script>
